@model IEnumerable<PartAllViewModel>

@{
    ViewBag.Title = "All Parts";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var part in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title mt-1">@part.Name</h5>
                <a asp-controller="Part" asp-action="Details" asp-route-id="@part.Id"><img class="card-img hoverable2" src="@part.ImageUrl"></a>
                <p class="mb-0"><span class="fw-bold">Price: </span>$@part.Price</p>
            </div>
        </div>
    }
</div>