@model IEnumerable<GunAllViewModel>

@{
    ViewBag.Title = "All Replicas";
}

<img class="mb-5 img-thumbnail" src="https://images.unsplash.com/photo-1566566713478-131a85da90b2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80" alt="replica image" />

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (!Model.Any())
    {
        <div>No items availible!</div>
    }
    else
    {
        foreach (var equipment in Model)
        {
            <div class="card col-4" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title mt-1">@equipment.Name</h5>
                    <a asp-controller="Gun" asp-action="Details" asp-route-id="@equipment.Id"><img class="card-img hoverable" src="@equipment.ImageUrl"></a>
                    <p class="mb-0"><span class="fw-bold">$@equipment.Price</span></p>
                </div>
            </div>
        }
    }
</div>
