@model IEnumerable<EquipmentAllViewModel>

@{
    ViewBag.Title = "All Equipment";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (!Model.Any())
    {
        <div>No items availible!</div>
    }
    else
    {
        foreach (var equipment in Model)
        {
            <div class="card col-4" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title mt-1">@equipment.Name</h5>
                    <a asp-controller="Equipment" asp-action="Details" asp-route-id="@equipment.Id"><img class="card-img hoverable" src="@equipment.ImageUrl"></a>
                    <p class="mb-0"><span class="fw-bold">$@equipment.Price</span></p>
                </div>
            </div>
        }
    }
    
</div>
