html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.hoverable:hover {
    transform: scaleX(-1);
}

.hoverable2:hover {
    transition: transform 0.1s;
    transform: rotate(-5deg);
}
