<div class="container">
        <div class="row mt-5">
            <div class="col-md-8 offset-md-2 text-center">
                <h1 class="mb-4">Thank You for Your Purchase!</h1>
                <p class="lead">Your order has been successfully processed.</p>
            <img class="img-thumbnail" src="https://images.unsplash.com/photo-1541513982013-5dc4f56697f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" />
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Back to Home</a>
            </div>
        </div>
    </div>